node_red_file.json
[{"id":"607b70dd.b1e1d","type":"tab","label":"writemongo pi","disabled":false,"info":""},{"id":"655bb8d0.3e89d8","type":"mqtt in","z":"607b70dd.b1e1d","name":"","topic":"temperature","qos":"2","datatype":"auto","broker":"40cb7ba7.49e174","x":110,"y":200,"wires":[["376dad32.86fcc2","3b5dcd1d.b075e2"]]},{"id":"376dad32.86fcc2","type":"function","z":"607b70dd.b1e1d","name":"","func":"msg.payload = parseInt(msg.payload);\nmsg.topic = \"temperature\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":280,"y":200,"wires":[["16517489.b83f4b","d39a9ea0.ce396"]]},{"id":"16517489.b83f4b","type":"ui_gauge","z":"607b70dd.b1e1d","name":"","group":"d7779f9c.ed4b","order":1,"width":0,"height":0,"gtype":"gage","title":"temperature","label":"units","format":"{{msg.payload}}","min":0,"max":"35","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":330,"y":140,"wires":[]},{"id":"4ffd24c.8136fdc","type":"mqtt in","z":"607b70dd.b1e1d","name":"","topic":"light","qos":"2","datatype":"auto","broker":"40cb7ba7.49e174","x":110,"y":300,"wires":[["dc1da39d.89fa7"]]},{"id":"dc1da39d.89fa7","type":"function","z":"607b70dd.b1e1d","name":"","func":"msg.payload = parseInt(msg.payload, 10);\nmsg.topic = \"light\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":270,"y":300,"wires":[["dbf862a.39abda","d39a9ea0.ce396"]]},{"id":"84d11ab8.e13d38","type":"mqtt in","z":"607b70dd.b1e1d","name":"","topic":"sound","qos":"2","datatype":"auto","broker":"40cb7ba7.49e174","x":110,"y":400,"wires":[["9dcd258a.6594a8","998dadd9.3b34b"]]},{"id":"9dcd258a.6594a8","type":"function","z":"607b70dd.b1e1d","name":"","func":"msg.payload = parseInt(msg.payload, 10);\nmsg.topic = \"sound\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":280,"y":400,"wires":[["b897f852.118f98","d39a9ea0.ce396"]]},{"id":"dbf862a.39abda","type":"ui_gauge","z":"607b70dd.b1e1d","name":"","group":"d7779f9c.ed4b","order":1,"width":0,"height":0,"gtype":"gage","title":"light","label":"units","format":"{{msg.payload}}","min":0,"max":"1000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":290,"y":240,"wires":[]},{"id":"b897f852.118f98","type":"ui_gauge","z":"607b70dd.b1e1d","name":"","group":"d7779f9c.ed4b","order":1,"width":0,"height":0,"gtype":"gage","title":"sound","label":"units","format":"{{msg.payload}}","min":0,"max":"1000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":290,"y":360,"wires":[]},{"id":"3b5dcd1d.b075e2","type":"debug","z":"607b70dd.b1e1d","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":280,"y":80,"wires":[]},{"id":"d39a9ea0.ce396","type":"function","z":"607b70dd.b1e1d","name":"Merging data","func":"context.data = context.data || {};\n\nswitch (msg.topic) {\n    case \"temperature\":\n        context.data.temperature = msg.payload;\n        msg = null;\n        break;\n    case \"light\":\n        context.data.light = msg.payload;\n        msg = null;\n        break;\n    case \"sound\":\n        context.data.sound = msg.payload;\n        msg = null;\n        break;\n    default:\n        msg = null;\n        break;\n}\nif(context.data.temperature != null && context.data.light != null && context.data.sound != null) {\n    msg2 = new Object();\n    msg2.payload = context.data;\n    context.data=null;\n    return msg2;\n} else return msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":530,"y":300,"wires":[["7ca60d29.45af74","153d96b5.098671"]]},{"id":"7ca60d29.45af74","type":"function","z":"607b70dd.b1e1d","name":"Adding current time/writing in database","func":"var rand_1 = Math.random();\nvar rand_2 = Math.random();\nvar rand_3 = Math.random();\nvar today = new Date();\nvar time = today.getTime();\nvar hum = (rand_1 * 80) + 10;\n//max value allowed 5000 ppm\nvar co2 = rand_2 * 5500;\n// max value allowed by oms is 25microg/m3\nvar pm25 = (rand_3 * 30)+5;\n//max value allowed 0.053 ppm\nvar no2 = (rand_2 * 0.1)+0.005;\n\nmsg.payload = {\"time\":time,\n               \"sound\":msg.payload.sound,\n               \"light\":msg.payload.light,\n               \"temperature\":msg.payload.temperature,\n                \"humidity\":hum,\n                \"air\":{\"co2\":co2 , \"pm25\":pm25 , \"no2\":no2 }\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":790,"y":260,"wires":[["a9e59769.376dd8","b62d649f.b97d18"]]},{"id":"a9e59769.376dd8","type":"debug","z":"607b70dd.b1e1d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":950,"y":320,"wires":[]},{"id":"998dadd9.3b34b","type":"debug","z":"607b70dd.b1e1d","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":240,"y":480,"wires":[]},{"id":"b62d649f.b97d18","type":"mongodb2 in","z":"607b70dd.b1e1d","service":"_ext_","configNode":"b4d43fc4.fe9e4","name":"","collection":"sensors","operation":"insertOne","x":1070,"y":140,"wires":[["9d0080fe.7a592"]]},{"id":"153d96b5.098671","type":"debug","z":"607b70dd.b1e1d","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":600,"y":120,"wires":[]},{"id":"9d0080fe.7a592","type":"debug","z":"607b70dd.b1e1d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1270,"y":120,"wires":[]},{"id":"40cb7ba7.49e174","type":"mqtt-broker","name":"Mac_Server","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"d7779f9c.ed4b","type":"ui_group","name":"Default","tab":"28371f7f.ef2a3","order":1,"disp":true,"width":"6","collapse":false},{"id":"b4d43fc4.fe9e4","type":"mongodb2","uri":"mongodb://127.0.0.1:27017/database_iot","name":"Data","options":"","parallelism":"-1"},{"id":"28371f7f.ef2a3","type":"ui_tab","name":"Test Arduino Data","icon":"nature_people","disabled":false,"hidden":false}]