write_db_mongo.json
[{"id":"607b70dd.b1e1d","type":"tab","label":"writemongo pi","disabled":false,"info":""},{"id":"b77569be.83c5d8","type":"function","z":"607b70dd.b1e1d","name":"Timestamp & simulate data","func":"var rand_1 = Math.random();\nvar rand_2 = Math.random();\nvar rand_3 = Math.random();\nvar today = new Date();\nvar time = today.getTime();\nvar hum = (rand_1 * 85) + 10;\n//max value allowed 1500 ppm\nvar co2 = rand_2 * 2500;\n// max value allowed by oms is 25microg/m3\nvar pm10 = (rand_3 * 26)+4;\n//max value allowed 200 microg/m3\nvar no2 = (rand_2 * 227)+23;\n\nvar sound =  parseFloat(msg.payload.sound);\nvar light =  parseFloat(msg.payload.light);\nvar temperature =  parseFloat(msg.payload.temperature);\n\nmsg.payload = {\"time\":time,\n               \"sound\":sound,\n               \"light\":light,\n               \"temperature\":temperature,\n                \"humidity\":hum,\n                \"air\":{\"co2\":co2 , \"pm10\":pm10\n                , \"no2\":no2 }\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":560,"y":140,"wires":[["daf6cebe.319c9","a0c8955c.5f017"]]},{"id":"daf6cebe.319c9","type":"mongodb2 in","z":"607b70dd.b1e1d","service":"_ext_","configNode":"b4d43fc4.fe9e4","name":"Write Database","collection":"sensors","operation":"insertOne","x":220,"y":240,"wires":[["453588da.562488"]]},{"id":"453588da.562488","type":"debug","z":"607b70dd.b1e1d","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":510,"y":240,"wires":[]},{"id":"b94c119.fcda47","type":"mqtt in","z":"607b70dd.b1e1d","name":"","topic":"AIP/S108/+","qos":"2","datatype":"auto","broker":"40cb7ba7.49e174","x":170,"y":140,"wires":[["355230d7.f71738"]]},{"id":"355230d7.f71738","type":"function","z":"607b70dd.b1e1d","name":"Merge","func":"context.data = context.data || {};\n\nswitch (msg.topic) {\n    case \"AIP/S108/temperature\":\n        context.data.temperature = msg.payload;\n        msg = null;\n        break;\n    case \"AIP/S108/light\":\n        context.data.light = msg.payload;\n        msg = null;\n        break;\n    case \"AIP/S108/sound\":\n        context.data.sound = msg.payload;\n        msg = null;\n        break;\n    default:\n        msg = null;\n        break;\n}\nif(context.data.temperature != null && context.data.light != null && context.data.sound != null) {\n    msg2 = new Object();\n    msg2.payload = context.data;\n    context.data=null;\n    return msg2;\n} else return msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":330,"y":140,"wires":[["b77569be.83c5d8"]]},{"id":"a0c8955c.5f017","type":"debug","z":"607b70dd.b1e1d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":900,"y":80,"wires":[]},{"id":"b4d43fc4.fe9e4","type":"mongodb2","uri":"mongodb://127.0.0.1:27017/database_iot","name":"Data","options":"","parallelism":"-1"},{"id":"40cb7ba7.49e174","type":"mqtt-broker","name":"Mac_Server","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""}]