write_db_mongo.json
[{"id":"607b70dd.b1e1d","type":"tab","label":"writemongo pi","disabled":false,"info":""},{"id":"b77569be.83c5d8","type":"function","z":"607b70dd.b1e1d","name":"Timestamp & simulate data","func":"var rand_1 = Math.random();\nvar rand_2 = Math.random();\nvar rand_3 = Math.random();\nvar today = new Date();\nvar time = today.getTime();\nvar hum = (rand_1 * 85) + 10;\n//max value allowed 1500 ppm\nvar co2 = rand_2 * 2500;\n// max value allowed by oms is 25microg/m3\nvar pm10 = (rand_3 * 26)+4;\n//max value allowed 200 microg/m3\nvar no2 = (rand_2 * 227)+23;\n\nvar sound =  parseFloat(msg.payload.sound);\nvar light =  parseFloat(msg.payload.light);\nvar temperature =  parseFloat(msg.payload.temperature);\n\nmsg.payload = {\"time\":time,\n               \"sound\":sound,\n               \"light\":light,\n               \"temperature\":temperature,\n                \"humidity\":hum,\n                \"air\":{\"co2\":co2 , \"pm10\":pm10\n                , \"no2\":no2 }\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":560,"y":140,"wires":[["daf6cebe.319c9","a0c8955c.5f017","621b5f28.18826","81d7c5f6.1b9ea8","d5195b7c.342cf8","8c15d05d.2fea5","ddbaf94f.f901d","48706df4.270944","31df7ab.43c2306","75cfcdc7.51498c","39259662.2993ba","ebc8d243.d6a25"]]},{"id":"daf6cebe.319c9","type":"mongodb2 in","z":"607b70dd.b1e1d","service":"_ext_","configNode":"b4d43fc4.fe9e4","name":"Write Database","collection":"sensors","operation":"insertOne","x":220,"y":60,"wires":[["453588da.562488"]]},{"id":"453588da.562488","type":"debug","z":"607b70dd.b1e1d","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":450,"y":60,"wires":[]},{"id":"b94c119.fcda47","type":"mqtt in","z":"607b70dd.b1e1d","name":"","topic":"AIP/S108/+","qos":"2","datatype":"auto","broker":"40cb7ba7.49e174","x":170,"y":140,"wires":[["355230d7.f71738"]]},{"id":"355230d7.f71738","type":"function","z":"607b70dd.b1e1d","name":"Merge","func":"context.data = context.data || {};\n\nswitch (msg.topic) {\n    case \"AIP/S108/temperature\":\n        context.data.temperature = msg.payload;\n        msg = null;\n        break;\n    case \"AIP/S108/light\":\n        context.data.light = msg.payload;\n        msg = null;\n        break;\n    case \"AIP/S108/sound\":\n        context.data.sound = msg.payload;\n        msg = null;\n        break;\n    default:\n        msg = null;\n        break;\n}\nif(context.data.temperature != null && context.data.light != null && context.data.sound != null) {\n    msg2 = new Object();\n    msg2.payload = context.data;\n    context.data=null;\n    return msg2;\n} else return msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":330,"y":140,"wires":[["b77569be.83c5d8"]]},{"id":"a0c8955c.5f017","type":"debug","z":"607b70dd.b1e1d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":650,"y":20,"wires":[]},{"id":"621b5f28.18826","type":"ui_gauge","z":"607b70dd.b1e1d","name":"Sound","group":"412a943a.703464","order":3,"width":0,"height":0,"gtype":"gage","title":"Sound","label":"units","format":"{{msg.payload.sound}}","min":0,"max":"800","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":830,"y":60,"wires":[]},{"id":"81d7c5f6.1b9ea8","type":"ui_gauge","z":"607b70dd.b1e1d","name":"Light","group":"412a943a.703464","order":2,"width":0,"height":0,"gtype":"gage","title":"Light","label":"units","format":"{{msg.payload.light}}","min":0,"max":"750","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":830,"y":100,"wires":[]},{"id":"d5195b7c.342cf8","type":"ui_gauge","z":"607b70dd.b1e1d","name":"Temperature","group":"412a943a.703464","order":1,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"ºC","format":"{{msg.payload.temperature}}","min":0,"max":"35","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":850,"y":140,"wires":[]},{"id":"8c15d05d.2fea5","type":"ui_gauge","z":"607b70dd.b1e1d","name":"Humidity","group":"86bd6e99.e9a1d8","order":1,"width":"6","height":"3","gtype":"gage","title":"Humidity","label":"%","format":"{{msg.payload.humidity}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":840,"y":180,"wires":[]},{"id":"e90c01c0.7108a","type":"ui_chart","z":"607b70dd.b1e1d","name":"","group":"a611f497.f3df88","order":3,"width":"9","height":"3","label":"Temperature in the Room ºC","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"35","removeOlder":"2","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":true,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":900,"y":380,"wires":[[]]},{"id":"ddbaf94f.f901d","type":"function","z":"607b70dd.b1e1d","name":"Temperature","func":"msg.payload = msg.payload.temperature;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":690,"y":380,"wires":[["e90c01c0.7108a"]]},{"id":"48706df4.270944","type":"ui_gauge","z":"607b70dd.b1e1d","name":"PM10","group":"86bd6e99.e9a1d8","order":1,"width":0,"height":0,"gtype":"gage","title":"PM10","label":"units","format":"{{msg.payload.air.pm10}}","min":0,"max":"35","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":830,"y":220,"wires":[]},{"id":"31df7ab.43c2306","type":"ui_gauge","z":"607b70dd.b1e1d","name":"NO2","group":"86bd6e99.e9a1d8","order":1,"width":0,"height":0,"gtype":"gage","title":"NO2","label":"units","format":"{{msg.payload.air.no2}}","min":0,"max":"250","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":830,"y":260,"wires":[]},{"id":"75cfcdc7.51498c","type":"ui_gauge","z":"607b70dd.b1e1d","name":"CO2","group":"86bd6e99.e9a1d8","order":1,"width":"6","height":"3","gtype":"gage","title":"CO2","label":"units","format":"{{msg.payload.air.co2}}","min":0,"max":"3000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":830,"y":300,"wires":[]},{"id":"f95b487e.b65278","type":"ui_chart","z":"607b70dd.b1e1d","name":"","group":"a611f497.f3df88","order":3,"width":"9","height":"3","label":"Light in the Room (intensity)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"800","removeOlder":"2","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":true,"colors":["#09cac5","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":900,"y":420,"wires":[[]]},{"id":"39259662.2993ba","type":"function","z":"607b70dd.b1e1d","name":"Light","func":"msg.payload = msg.payload.light;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":670,"y":420,"wires":[["f95b487e.b65278"]]},{"id":"774a24b3.620b2c","type":"ui_chart","z":"607b70dd.b1e1d","name":"","group":"a611f497.f3df88","order":3,"width":"9","height":"3","label":"Sound in the Room (intensity)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"800","removeOlder":"2","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":true,"colors":["#cd128b","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":910,"y":460,"wires":[[]]},{"id":"ebc8d243.d6a25","type":"function","z":"607b70dd.b1e1d","name":"Sound","func":"msg.payload = msg.payload.sound;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":670,"y":460,"wires":[["774a24b3.620b2c"]]},{"id":"b4d43fc4.fe9e4","type":"mongodb2","uri":"mongodb://127.0.0.1:27017/database_iot","name":"Data","options":"","parallelism":"-1"},{"id":"40cb7ba7.49e174","type":"mqtt-broker","name":"Mac_Server","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"412a943a.703464","type":"ui_group","name":"Sensed Data","tab":"5fb61cd9.ef14b4","order":1,"disp":true,"width":"6","collapse":false},{"id":"86bd6e99.e9a1d8","type":"ui_group","name":"Emulated Data","tab":"5fb61cd9.ef14b4","order":2,"disp":true,"width":"6","collapse":false},{"id":"a611f497.f3df88","type":"ui_group","name":"History","tab":"5fb61cd9.ef14b4","order":3,"disp":false,"width":"9","collapse":false},{"id":"5fb61cd9.ef14b4","type":"ui_tab","name":"Data Monitoring","icon":"live_circle","disabled":false,"hidden":false}]